body{
  background-image: url("https://image.winudf.com/v2/image1/Y29tLmJsd3Auc3BhY2Vfc2NyZWVuXzlfMTU1MjAzOTU5MF8wNzg/screen-9.jpg?fakeurl=1&type=.jpg");
}

.tabla{
  width: 600px;
  height: 165px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  border: 1px solid white;
}

.columna{
  border: 1px solid white;
  margin: 5px;
}

.fila{
  border: 1px solid white;
  margin: 5px;
  padding: 2px;
}

p{
  width: 450px;
}

.fila, h4, p{
  color: white;
}